.days {
  /* border-color: rgb(0, 0, 0); */
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 7vw;
  margin: auto;
  margin-bottom: 2%;
  border-style: none;
}
.imgSale {
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  width: 35%;
  color: rgb(255, 230, 0);
  height: auto;
  margin: auto;
}
.sale div div {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  color: black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation: mymove 1s infinite;
}
.sale div {
  /* border-radius: 20px; */
  /* border-style: solid; */
  border-width: 2px;
  color: black;
}
.sale {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  color: black;
}
@keyframes example {
  0% {
    background-color: rgb(94, 255, 0);
    right: 0px;
    top: 0px;
  }
  100% {
    background-color: red;
    right: 98%;
    top: 0px;
  }
}
@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 98%;
  }
}
.sale {
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 7vw;
  margin: auto;
  margin-bottom: 2%;
}
