/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/*------------------------------------*\
    RESET
\*------------------------------------*/
/* https://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
/* img{
    height: 100px;
    width: 100px;
} */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
    :focus{
      outline:?????;
    } */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
      $MAIN
    \*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
  padding-left: 5%;
}

h5 {
  font-weight: 500;
  line-height: 1.7em;
}

h6 {
  color: #666;
  font-size: 14px;
}

/* Product Layout */

.product-filter {
  display: flex;
  padding: 30px 0;
}

.sort {
  display: flex;
  align-self: flex-end;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.collection-sort:first-child {
  padding-right: 20px;
}

label {
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

.products {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* width: 100%; */
  /* display: grid; */
  /* grid-gap: 2%; */
  /* grid-template-columns: auto auto auto; */
}
*:hover {
  color: rgb(181, 174, 174);
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2%; */
  flex: 1 16%;
  /* width: 250px; */
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  /* height: 360px; */
}

.product-image img {
  width: 200px;
}

.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
  color: #666;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
  .sale,
  .products a .product-card:first-child,
  .products a .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .sale,
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  background: lightblue;
  color: #f6f6f6;
  padding: 2%;
}
.nav-links {
  /* height: 5%; */
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-flow: row-reverse;
}
a {
  color: #f6f6f6;
  width: 100%;
  text-decoration: none;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.header::shadow {
  border-radius: 0px 0px 35px 35px;
}
